#### Question 2

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
from sklearn.datasets import load_iris
data = load_iris()
X = data.data

In [4]:
y = data.target

In [6]:
X = pd.DataFrame(X)

In [7]:
y = pd.DataFrame(y)

In [8]:
X.head()

     0    1    2    3
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2

In [9]:
y.head()

   0
0  0
1  0
2  0
3  0
4  0

In [10]:
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split

In [11]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2)

In [12]:
model = GaussianNB()

In [13]:
model.fit(X_train,y_train)

C:\Users\Dell\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB(priors=None)

In [14]:
pre = model.predict(X_test)

In [17]:
model.score(X_test,y_test)*100

96.66666666666667

#### Question 1

p(y)  a = 9/14 = 0.64
p(sunny) = 5/14 = 0.357
p(sunny/y) = 3/9 = 0.33
p(y/sunny) = (p(sunny/y) *P(y))/P(sunny)= 3/5